<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Detail Page</h1>
    <% rowarray.forEach( (item)=>{     %>
        <div>
          <div><%= item.id %></div>
          <div><%= item.question %></div>
          <div><%= item.answer %></div>
        </div>
          <% } ); %>            
    <!-- <% rowarray.map((row)=>{console.log(row);}); %> -->
</body>
</html>