<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Detail Page</h1>
    <table>
    <tbody>
        <% rowarray.forEach( (item)=>{     %>
            <tr><td><%= item.id %></td><td><a href="/objectives/<%= item.id %>"><%= item.question %></a></td></tr>
                <% } ); %>            
    </tbody>        
    </table>
    <!-- <% rowarray.map((row)=>{console.log(row);}); %> -->
</body>
</html>